<footer>
    

    <div id="about">
        Coding Ninjas. All Rights Reserved
    </div>

    <div id="nav-footer">
        <a class="links-footer" href="/">Home</a>
        <a class="links-footer" href="/user/profile">Profile</a>
    </div>
</footer>