<footer>
    

    <div id="about">
        Coding Ninjas. All Rights Reserved
    </div>

    <div id="nav-footer">
        <a class="links-footer" href="/">Home</a>
        <% if(locals.user) {%>
            <a class="links-footer" href="/users/profile/<%=user.id%>">Profile</a>
        <% } %>    
    </div>
</footer>