
    <link rel="stylesheet" href="/css/layout.css">

    <h1 id="title">Codial | <%= title %></h1>
        
    <%- include('_posts') -%>

    <script src="https://kit.fontawesome.com/071baab2d8.js" crossorigin="anonymous"></script>