<!-- <html> -->

    <!-- <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/user.css">
    </head> -->
    
    <!-- <body> -->

        
            <!-- <div id="header">
                <% if (locals.user) { %>
                    <a class="links" href="/user/profile">
                        <%= user.name %>
                    </a>

                    <a class="links" href="/user/sign-out">
                        Sign out
                    </a>
                <% } else { %>    
                    <a class="links" href="/user/sign-up">
                        Sign Up
                    </a>

                    <a class="links" href="/user/sign-in">
                        Sign In
                    </a>
                <% } %>
            </div> -->
        

        <main id="main-body">

            <h1 id="title">Codial | <%= title %></h1>

        </main>
        <!-- <div id="buttons">   
            <a href="/user/sign-up">
                <button class="btn">Sign Up</button>
            </a>

            <a href="/user/sign-in">
                <button class="btn">Sign In</button>
            </a>
        </div>  -->

        
    <!-- </body> -->

<!-- </html> -->