
        <link rel="stylesheet" href="/css/layout.css">

        <!-- <main id="main-body">  -->

            <h1 id="title">Codial | <%= title %> | Profile</h1>

            <div id="info">

                <h3>User Name : <%= user.name %></h3>

                <h3>Email : <%= user.email %></h3>

            </div>

        <!-- </main> -->

    </div>

