<link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/sign.css">

    <!-- <main id ="main-body"> -->
        
        <h1 id="title">Codial | Sign Up</h1>
        
        <div class="google-sign">
            <a href="/users/auth/google">Google Sign up/Sign in</a>
        </div>

        <div id="form">

            <form action="/users/create" method="POST">

                <div id="info">

                    <div>
                        <span class="label">Name</span>
                        <input type="text" id="name" name="name" required>
                    </div>

                    <div>
                        <span class="label">Email</span>
                        <input type="email" id="email" name="email" required>
                    </div>

                    <div>
                        <span class="label">Password</span>
                        <input type="password" id="password" name="password" required>
                    </div>

                    <div>
                        <span class="label">ConfirmPassword</span>
                        <input type="password" id="confirm_password" name="confrim_password" required>
                    </div>

                </div>

                <div id="btn">
                    <button>
                        Sign Up
                    </button>
                </div>
            </form>
        </div>
    <!-- </main> -->
