<!-- <html> -->
    <!-- <head>
        <title><%= title %></title>
        
    </head> -->

    <link rel="stylesheet" href="/css/layout.css">

    <link rel="stylesheet" href="/css/sign.css">

    <!-- <main id="main-body"> -->

        <h1 id="title">Codial | Sign In</h1>

        <div id="form">

            <form action="/users/create-session" method="POST">

                <div id="info">
                    <div>
                        <span class="label">Email</span>
                        <input type="email" id="email" name="email" required>
                    </div>

                    <div>
                        <span class="label">Password</span>
                        <input type="password" id="password" name="password" required>
                    </div>


                </div>

                <div id="btn">
                    <button>
                        Sign In
                    </button>
                </div>
            </form>
        </div>
    <!-- </main> -->
<!-- </html> -->