<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/sign.css">
    </head>

    <body>

        <h1>Codial | Sign In</h1>

        <form action="/user/create-session" method="POST">

            <div id="info">
                <div>
                    <span class="label">Email</span>
                    <input type="email" id="email" name="email" required>
                </div>

                <div>
                    <span class="label">Password</span>
                    <input type="password" id="password" name="password" required>
                </div>


            </div>

            <div id="btn">
                <button>
                    Sign In
                </button>
            </div>
        </form>
    </body>
</html>